@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@800&display=swap');
@media only screen and (min-width: 801px) {
  .webpage-title {
  font-family: 'WindSong', cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 100px;
  text-align: center;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.bold-heading {
  font-weight: bold;
  font-family: 'Life Savers', serif;
  font-size: 38px;
  text-align: right;
}

.explanation {
  font-family: 'Life Savers', serif;
  font-size: 20px;
}

.item {
  margin-right: 10px; 
}
.container2 {
    display: flex;
    align-items: center;
  }
  
  .explanation2 {
    font-family: 'Life Savers', serif;
  
    text-align: right;
    font-size: 20px;
  }
  
  .image2 {
    margin-left: 10px;
  }
  
  .bold-heading2 {
    font-weight: bold;
    font-family: 'Life Savers', serif;
  font-size: 38px;
  }

  .leaves-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wuthering-heights-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .summary-container {
    justify-content: center;
    text-align: center;
    font-family: 'Life Savers', serif;
    font-size: 20px;
    line-height: 1.4;
}

  .link-container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Life Savers', serif;
  font-size: 37px;
  }

  body {
    background-color: rgb(243, 220, 227);
  }

  .text-container {
    text-align: center;
    font-family: 'Courier', sans-serif;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    color: #000000
    
}
}

@media only screen and (max-width: 800px) {
  body {
    background-color: rgb(243, 220, 227);
  }
  .webpage-title {
    font-size: 70px; /* Adjusted font size for smaller screens */
  }

  .bold-heading,
  .bold-heading2 {
    font-size: 18px; /* Adjusted font size for smaller screens */
  }

  .explanation,
  .explanation2,
  .text-container,
  .summary-container p {
    font-size: 14px;
    text-align: center; 
  }

  .container .item,
  .container2 .item {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container img {
    transform: scale(0.7);
  }
  
  .container2 img {
    transform: scale(0.7);
  }

.container2 {
  display: flex;
    flex-direction: column-reverse;
    align-items: center;
  text-align: center;}
}