
.characters-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
  }
  .alita {
    width: 12in;
    height: 9in;
    background: url("imgs/alita.jpg") no-repeat;
    
    z-index: 3;
   
  }
  
  .alita:hover {
    background: url("imgs/alita2.jpg") no-repeat;
  }
        .ido{
            width: 8in;
            height: 7in;
            background: url("imgs/ido.jpg") no-repeat;
            margin: 50px;
        }
        .ido:hover {
            background: url("imgs/ido2.jpg") no-repeat;
        }
        .nova{
            width: 8in;
            height: 7in;
            background: url("imgs/nova1.jpg") no-repeat;
            margin: 50px;
        }
        .nova:hover {
            background: url("imgs/nova2.jpg") no-repeat;
        }
        .yugo{
            width: 8in;
            height: 5in;
            background: url("imgs/yugo.jpg") no-repeat;
            margin: 50px;
        }
        .yugo:hover {
            background: url("imgs/yugo2.jpg") no-repeat;
        }
        @font-face {
            font-family: 'Cyberpunks-Italic';
            src:url('Cyberpunks-Italic.ttf.woff') format('woff'),
                url('Cyberpunks-Italic.ttf.svg#Cyberpunks-Italic') format('svg'),
                url('Cyberpunks-Italic.ttf.eot'),
                url('Cyberpunks-Italic.ttf.eot?#iefix') format('embedded-opentype'); 
            font-weight: normal;
            font-style: normal;
        }
        h1 {
            font-family: 'Cyberpunks-Italic', sans-serif;
            font-size: 100px;
            text-align: center;
            z-index: 2;
            position: relative;
            
            
        }
     
        
        h2 {
            font-family: 'sdglitchrobotdemoregular', sans-serif;
            font-size: 100px;
            text-align: center;
            ;
        }
        .top-left-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .top-right-image {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
        .bottom-left-image {
            position: absolute;
            border-bottom: 0;
            left: 0;
            z-index: 1;
            transform: rotate(180deg);
            margin: bottom 0;

        }
        .bottom-right-image {
            position: absolute;
            border-bottom: 0;
            right: 0;
            z-index: 1;
            transform: rotate(180deg);
            margin: bottom 0;
        }


        @font-face {
            font-family: 'Orbitron';
            src: url('path-to-orbitron-font.woff2') format('woff2'),
                 url('path-to-orbitron-font.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        .orbitron-font {
            font-family: 'Orbitron', sans-serif;
            font-size: 60px;
            position: relative;
          text-align: center;
        
        }
        p {
            font-family: 'impact'; 
            font-size: medium;
            z-index: 2;
            text-align: center;
            bottom: 0%;
            font-size: 20px;
   
           
          }  

          .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            margin-bottom: 20px;
          }
        
          .text-container {
            text-align: center;
            font-family: 'Gil Sans', sans-serif;
            font-size: 20px;
          
          }
          .drawings-container {
            display: flex;
            justify-content: space-between; 
            align-items: center; 
           
          }
         
          .circuit {
            position: absolute;
            top: 16;
            left: 0;
            z-index: -3;

          }

          @media only screen and (max-width: 525px) {
            body {
              background-color: rgb(0, 0, 0);
            }
            .top-left-image {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 70%;
                height: auto;
            }
            .top-right-image {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                width: 70%;
                height: auto;
            }
            .bottom-left-image {
                position: absolute;
                border-bottom: 0;
                left: 0;
                z-index: 1;
                transform: rotate(180deg);
                margin: bottom 0;
                width: 70%;
                height: auto;
    
            }
            .bottom-right-image {
                position: absolute;
                border-bottom: 0;
                right: 0;
                z-index: 1;
                transform: rotate(180deg);
                margin: bottom 0;
                width: 70%;
                height: auto;
            }
            .orbitron-font {
                font-family: 'Orbitron', sans-serif;
                font-size: 80px;
                position: relative;
              text-align: center;
              color: aliceblue;}
            
              h1 {
                font-family: 'Cyberpunks-Italic', sans-serif;
                font-size: 90px;
                text-align: center;
                z-index: 2;
                position: relative;
                color: rgb(116, 236, 255);
                margin-top: 30%;
                
                
            }
         
            
            h2 {
                font-family: 'sdglitchrobotdemoregular', sans-serif;
                font-size: 60px;
                text-align: center;
                color: rgb(116, 236, 255);
            }

.characters-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    transform: scale(0.5);
    margin-top: 0%;
  }
  .alita {
    width: 10in;
    height: 9in;
    background: url("imgs/alita.jpg") no-repeat;
    
    z-index: 3;
   
  }
  
  .alita:hover {
    background: url("imgs/alita2.jpg") no-repeat;
  }
        .ido{
            width: 8in;
            height: 7in;
            background: url("imgs/ido.jpg") no-repeat;
            margin: 50px;
        }
        .ido:hover {
            background: url("imgs/ido2.jpg") no-repeat;
        }
        .nova{
            width: 8in;
            height: 7in;
            background: url("imgs/nova1.jpg") no-repeat;
            margin: 50px;
        }
        .nova:hover {
            background: url("imgs/nova2.jpg") no-repeat;
        }
        .yugo{
            width: 8in;
            height: 5in;
            background: url("imgs/yugo.jpg") no-repeat;
            margin: 50px;
        }
        .yugo:hover {
            background: url("imgs/yugo2.jpg") no-repeat;
        }
        p {
            font-family: 'impact'; 
            font-size: medium;
            z-index: 2;
            text-align: center;
            bottom: 0%;
            font-size: 15px;
            color: aliceblue;
   
           
          }  

          .image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            transform: scale(0.9);
            
          }
        
          .text-container {
            text-align: center;
            font-family: 'Gil Sans', sans-serif;
            font-size: 13px;
          
          }
          .drawings-container {
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            
       
          }
         
          .circuit {
            position: absolute;
            top: 16;
            left: 0;
            z-index: -3;

          }

        }